html{
	width: 100%;
	height: 100%;
}

body{
	font-family: Helvetica;
	width: 100%;
	height: 100%;
}

.navbar, .navbar-default{
	margin: 0 !important;
}

 .carousel-inner{
 	margin: 0 0;
 	padding-left: 0;
 	padding-right: 0;
	max-height: 600px !important;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) and (max-height: 600px){}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) and (max-height: 600px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) and (max-height: 600px){}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-height: 600px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) and (max-height: 600px){}

.carousel-inner > .item > img {
    margin: 0 !important;
}

.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

#slide-container{
	height: 600px;
}
/*====================== logo ================================= */

#logo{
	font-family: 'Pacifico', cursive;
	text-align: center;
}

#logo h1{
	margin: 0 0 25px 0;
}

/*====================== all nav-bars ================================ */

/* change height of navbar */
.navbar-default {
  	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(255,255,255,0.8);
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

/*========================== Top navbar css styles========================== */
#top-nav .navbar-default .navbar-brand{
	color: #201D1E;
	font-family: 'Pacifico', cursive;
	font-weight: 2px;
	color: black;
}

#top-nav .navbar-default .navbar-nav > li > a {
    color: #201D1E;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}

#top-nav .navbar-default .navbar-form{
	height: inherit;
}


/*=================== Category navbar css styles ===============================*/

#cat-nav .navbar-default {
  	display: inline-block;
    float: none;
}

#cat-nav .navbar-default .navbar-nav > li > a {
    color: #201D1E;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* /* change height of navbar */
#cat-nav .navbar-nav > li > a {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
#cat-nav .navbar {min-height:28px !important;} */

cat-nav .navbar .navbar-default{
	margin: 0 auto;
}
#cat-nav {
	 margin: 0 auto;
	 width: 100%;
	 text-align: center;
     float: none;
     display: inline-block;
}

#cat-nav .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(255,0,0);
}